<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/tabs.css">
    <title>Project Panda</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script src="/public/javascripts/TabsApp.js"></script>
</head>
<body>
<h1>Project Panda</h1>

<form>
    Name:<br>
    <input type="text" name="Name">
    <br>
    Password:<br>
    <input type="text" name="Password">
    <br><br>
    <button>Save Data</button>
</form>
<br><br><br>

<div ng-app="TabsApp">
    <div id="tabs" ng-controller="TabsCtrl">
        <ul>
            <li ng-repeat="tab in tabs"
                ng-class="{active:isActiveTab(tab.url)}"
                ng-click="onClickTab(tab)">{{tab.title}}
            </li>
        </ul>
        <div id="mainView">
            <div ng-include="currentTab"></div>
        </div>
    </div>
    <script type="text/ng-template" id="one.tpl.html">
        <div id="viewOne">
            <h1>Description</h1>

            <p></p>
        </div>

    </script>

    <script type="text/ng-template" id="two.tpl.html">
        <div id="viewTwo">
            <h1>Data</h1>

            <p></p>
        </div>
    </script>


</div>
<script type="text/javascript">
    angular.module('TabsApp', [])
            .controller('TabsCtrl', ['$scope', function ($scope) {
                $scope.tabs = [{
                    title: 'Description',
                    url: 'one.tpl.html'
                }, {
                    title: 'Data',
                    url: 'two.tpl.html'
                }];

                $scope.currentTab = 'one.tpl.html';

                $scope.onClickTab = function (tab) {
                    $scope.currentTab = tab.url;
                }

                $scope.isActiveTab = function (tabUrl) {
                    return tabUrl == $scope.currentTab;
                }
            }]);
</script>
</body>
</html>